includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
        analyse:
            - app/Console/*
    parallel:
        maximumNumberOfProcesses: 1
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    tmpDir: storage/framework/cache/phpstan
